 <!-- input feilds-->
<div class="container" id="abc">
  <div class="row">
    <div class="col-md-3 sub-row">
      <!-- Search form -->
      <div class="input-group md-form form-sm form-2 pl-0 equalWidth"id="searchForm">
        <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search" id='def'>
        <div class="input-group-append">
          <button class="input-group-text " type="submit" style="color: #5A95F5; border:none"><i class="fas fa-search text-grey"
              aria-hidden="false"id="searchButton"></i></button>
        </div>
      </div>
      
  </div>
  <div class="col-md-3 sub-row">
    <!--Dropdown primary-->
<div class="dropdown">

  <!--Trigger-->
  <button class="btn  dropdown-toggle equalWidth md-form form-sm form-2" type="button" id="dropdownMenu1" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">PRAYER CALCULATION</button>

  <!--Menu-->
  <div class="dropdown-menu dropdown-primary" id="prayerCalculations">
    <a class="dropdown-item" value="0" href="#" id="zero">0 - Shia Ithna-Ansari</a>
    <a class="dropdown-item active" value="1" href="#">1- University of Islamic Sciences, Karachi</a>
    <a class="dropdown-item" value="2" href="#">2 - Islamic Society of North America</a>
    <a class="dropdown-item" value="3" href="#">3 - Muslim World League</a>
    <a class="dropdown-item" value="4" href="#">5 - Egyptian General Authority of Survey</a>
    <a class="dropdown-item" value="5" href="#">7 - Institute of Geophysics, University of Tehran</a>
    <a class="dropdown-item" value="6" href="#">8 - Gulf Region</a>
    <a class="dropdown-item" value="7" href="#">9 - Kuwait</a>
    <a class="dropdown-item" value="8" href="#">10 - Qatar</a>
    <a class="dropdown-item" value="9" href="#">11 - Majlis Ugama Islam Singapura, Singapore</a>
    <a class="dropdown-item" value="10" href="#">12 - Union Organization islamic de France</a>
    <a class="dropdown-item" value="11" href="#">13 - Diyanet İşleri Başkanlığı, Turkey</a>
    <a class="dropdown-item" value="12" href="#">14 - Spiritual Administration of Muslims of Russia</a>
    <a class="dropdown-item" value="13" href="#">11 - Majlis Ugama Islam Singapura, Singapore</a>
  </div>
</div>
<!--/Dropdown primary-->
    
</div>
<div class="col-md-3 sub-row">
  <!--Dropdown primary-->
<div class="dropdown">

<!--Trigger-->
<button class="btn dropdown-toggle md-form form-sm form-2 equalWidth" type="button" id="dropdownMenu1" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">Juristic settings</button>

<!--Menu-->
<div class="dropdown-menu dropdown-primary">
  <a class="dropdown-item" href="#">Hanfi</a>
  <a class="dropdown-item" href="#">Shafi</a>
</div>
</div>
<!--/Dropdown primary-->
  
</div>
<div class="col-md-3 sub-row  " >
  <!--Date-->
  
  <div id="date-picker-example" class=" md-form form-sm form-2 md-outline input-with-post-icon  equalWidth datepicker">
    <input placeholder="Select date" type="text" id="example" class="form-control">
    <label for="example">Try me...</label>
    <i class="fas fa-calendar input-prefix" tabindex=0></i>
  </div>  
 
</div>
<div class="col-md-3">
  <div class="dropdown dropdown-menu md-form form-sm form-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
        
               
      
  </div>
</div>