 <!-- input feilds-->
<div class="container" id="abc">
  <div class="row">
    <div class="col-md-3 sub-row">
      <!-- Search form -->
      <div class="input-group md-form form-sm form-2 pl-0 equalWidth"id="searchForm">
        <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search" id='def'>
        <div class="input-group-append">
          <button class="input-group-text " type="submit" style="color: #5A95F5; border:none"id="searchButton"><i class="fas fa-search text-grey"
              aria-hidden="false"></i></button>
        </div>
      </div>
      
  </div>
  <div class="col-md-3 sub-row">
    <!--Dropdown primary-->
<div class="dropdown">

  <!--Trigger-->
  <button class="btn  dropdown-toggle equalWidth md-form form-sm form-2" type="button" id="dropdownMenu1" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">PRAYER CALCULATION</button>

  <!--Menu-->
  <div class="dropdown-menu dropdown-primary">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<!--/Dropdown primary-->
    
</div>
<div class="col-md-3 sub-row">
  <!--Dropdown primary-->
<div class="dropdown">

<!--Trigger-->
<button class="btn dropdown-toggle md-form form-sm form-2 equalWidth" type="button" id="dropdownMenu1" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">Juristic settings</button>

<!--Menu-->
<div class="dropdown-menu dropdown-primary">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>
</div>
<!--/Dropdown primary-->
  
</div>
<div class="col-md-3 sub-row  " >
  <!--Date-->
  
  <div id="date-picker-example" class=" md-form form-sm form-2 md-outline input-with-post-icon  equalWidth datepicker">
    <input placeholder="Select date" type="text" id="example" class="form-control">
    <label for="example">Try me...</label>
    <i class="fas fa-calendar input-prefix" tabindex=0></i>
  </div>  
 
</div>
<div class="col-md-3">
  <div class="dropdown dropdown-menu md-form form-sm form-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
        
               
      
  </div>
</div>