<div class="container-fluid">
    <div class="row full-width">
        <div class="col-xs-12 col-md-12 d-flex justify-content-center" id="under_construct_style">
            <p style="margin-top:25px;size:20px;">This app is still under construction only search bar are functional , it shows time under default settings.</p>

        </div>

    </div>

</div>