.input-group.md-form.form-sm.form-1 input{
    width:25%;
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
  }
  .input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
  }
  .input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #5A95F5;
  }
  .sub-row{
    margin-top: 2rem;
  }
  .equalWidth{
    width: 100%;
    height: 50%;
    
    
  }
  #under_construct_style{
    background-color: red;
    
    color: white;
    border-bottom: white;
    text-shadow: tomato;
  }
  .card{
    width: 212px;
  height: 200px;
  margin: 0 12px;
  padding: 16px;
  border-radius: 16px;
  background-color: #f7f9fa;
  }
  
  

  